html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  font-family: "TT Lakes";
}

body {
  background-color: #f8f8f8;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
}

/* 

abstracts 

*/
.email {
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.01em;
}

.phone {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: -0.03em;
}

.lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.lang__item {
  font-weight: 500;
  margin-right: 7px;
}
.lang__item:last-child {
  margin-right: 0;
}
.lang__item--active {
  color: #7e7e82;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  border-radius: 20px;
  -webkit-transition: -webkit-filter 0.1s linear;
  transition: -webkit-filter 0.1s linear;
  transition: filter 0.1s linear;
  transition: filter 0.1s linear, -webkit-filter 0.1s linear;
}
.button:hover {
  -webkit-filter: drop-shadow(0 0 7px #ff3e79);
          filter: drop-shadow(0 0 7px #ff3e79);
}
.button__img {
  width: 40px;
  height: 40px;
  background-color: #ff3e79;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.button span {
  display: none;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
@media (min-width: 1120px) {
  .button span {
    display: inline-block;
    margin-right: 8px;
    font-size: 16px;
    font-weight: 500;
  }
}

.list {
  height: 450px;
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.list__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  margin-bottom: 10px;
}
.list__item:last-child {
  margin-bottom: 0;
}
.list__item a {
  color: #1b1c21;
  text-decoration: none;
  -webkit-transition: padding-left 0.1s linear;
  transition: padding-left 0.1s linear;
}
.list__item a:hover {
  padding-left: 30px;
}
.list__item--active {
  position: relative;
}
.list__item--active::before {
  content: "";
  left: -24px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 0 20px 20px 0;
  position: absolute;
  width: 4px;
  height: 32px;
  background-color: #41f6d7;
}
.list__item--active a {
  color: #7e7e82;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  color: #1b1c21;
  padding: 18px 24px 32px;
  width: 320px;
  -webkit-box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2), -2px 0 4px 0 rgba(69, 79, 126, 0.02);
          box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2), -2px 0 4px 0 rgba(69, 79, 126, 0.02);
  background: #fff;
}
.menu__logo {
  margin-left: 17px;
}
.menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}
.menu__header .menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__list {
  margin-bottom: 8px;
}
.menu__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu__footer .menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6px;
}
.menu__footer .menu__item .menu__button {
  margin-right: 6px;
}
.menu__footer .menu__item .menu__button:last-child {
  margin-right: 0;
}
.menu__email {
  margin-bottom: 12px;
}
.menu__phone {
  margin-bottom: 10px;
}